<%= form_with(model: target, local: true) do |form| %>
  <% if target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :currency_type %>
    <%= form.text_field :currency_type, id: :target_currency_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
