<%= form_with(model: wallet, local: true, url: url) do |form| %>
  <% if wallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>
      <ul>
        <% wallet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :currency_type %>
    <%= form.text_field :currency_type, id: :wallet_currency_type %>
  </div>
  <div class="field">
    <%= form.label :money %>
    <%= form.text_field :money, id: :wallet_money %>
  </div>
  <div class="field">
    <%= form.label :is_losscut %>
    <%= form.check_box :is_losscut %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>