<p id="notice"><%= notice %></p>
<p>
	<strong>Currency type:</strong>
	<%= @wallet.currency_type %>
</p>
<p>
	<strong>Money:</strong>
	<%= @wallet.money %>
</p>
<p>
	<strong>IsLoscat:</strong>
	<%= @wallet.is_loscat %>
</p>
<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>