<p id="notice"><%= notice %></p>
<h1>Bots</h1>
<table class="table">
  <thead>
    <tr>
      <th>c_type</th>
      <th>trade</th>
      <th>created_at</th>
      <th class="hidden-xs" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% trade_type = nil %>
    <% @bots.each do |bot| %>
      <% next if trade_type == bot.trade_type and (trade_type == "wait") %>
      <tr class="<%=label_state(bot.trade_type)%>">
        <td>
          <span class="label label-<%=label_state(bot.trade_type)%>"><%= bot.currency_type %></span>
        </td>
        <td><%= t(bot.trade_type) %></td>
        <td><%= bot.created_at.to_s %></td>
        <td class="hidden-xs"><%= link_to 'Show', bot %></td>
        <td class="hidden-xs"><%= link_to 'Edit', edit_bot_path(bot) %></td>
        <td class="hidden-xs"><%= link_to 'Destroy', bot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% trade_type = bot.trade_type %>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Bot', new_bot_path %>