<%
@page_title = "コイン価格履歴-移動平均"
rate_of_up = TradeSetting.where(trade_type: :buy_rate_of_up).first.value
from = CurrencyHistory.minimum(:created_at)
to = CurrencyHistory.maximum(:created_at)
%>
<p id="notice"><%= notice %></p>
<h1><%=@page_title%></h1>
<p>集計期間: <%= from %> ~ <%= to %></p>
<p>購入上昇率:<%= rate_of_up %></p>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  
  
  function drawChart() {
  
    <% @average.each do |k,v| %>
    <% next unless v.any? %>
  
    var source = [];
    <% v.each_with_index do |val,i| %>
    source.push([<%=i%>,<%=val%>]);
    <% end %>
  
    // 'false' means that the first row contains labels, not data.
    var data = google.visualization.arrayToDataTable(source,true)
  
    var options = {
      hAxis: {
        title: "<%=k%>",
        slantedTextAngle: 90
      },
      height: 500,
      legend: { position: 'none'}
    };
  
    var chart = new google.visualization.LineChart(document.getElementById('chart_div_<%=k%>'));
    chart.draw(data, options);
    <% end %>
  }
</script>
<% @average.each do |k,v| %>
  <% next unless v.any? %>
  <% label_name =  v.first < v.last ? "success" : "danger"%>
  <div class="panel panel-default">
    <div class="panel-heading"><span class="label label-<%=label_name%>"><%=k%></span></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item">
              <%= v.first.round(4).to_s(:delimited) %>
              ~
              <%= v.last.round(4).to_s(:delimited) %>
            </li>
            <li class="list-group-item">上昇率:<%= (v.last / v.first).round(5) %></li>
            <li class="list-group-item">購入実行:<%=(v.first * rate_of_up).round(4).to_s(:delimited)%></li>
          </ul>
        </div>
        <div class="col-md-9">
          <div id="chart_div_<%=k%>"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>